{
  "prettier.printWidth": 80,
  "prettier.tabWidth": 2,
  "prettier.singleQuote": true,
  "prettier.trailingComma": "es5",
  "overrides": [
    {
      "files": ["*.js"],
      "options": {
        "editor.formatOnSave": true
      }
    },
    {
      "files": ["*.html"],
      "options": {
        "editor.formatOnSave": false
      }
    }
  ]
}
